/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

 * {
    box-sizing: border-box;
    /* font-family: arial, sans-serif; */
  }
  
  body {
    background: linear-gradient(#ffffff, #c0c0c0);
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
  nav {
    align-items: center;
    background-color: rgb(213, 213, 230);
    color: darkgray;
    display: flex;
    height: 80px;
    padding: 10px;
  }

  .link {
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;

  }

  .section-title {
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    margin-left:20px;
  }

  .form {
    text-indent: 20px
  }

  #welcome{
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    align-content: center
  }
  
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    font-size: 100%;
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    border: 0;
    padding: 0;
    display: flex;
    align-content: flex-end;
    border: 0;
    border-radius: 0.10rem;
    line-height: .80;
    padding: 0.15rem 0.5rem;
    margin: 0.15rem;
    margin-left:20px;
  }
  
  label {
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    display: flex;
    align-content: flex-start
  }

  .photograph {
    height: auto;
    width: auto;
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;

    /* border:  */
  }

  .artist{
    height: auto;
    width: auto;
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
  }

  .tab {
     margin-left: 40px; 
  }