/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

 * {
    box-sizing: border-box;
    /* font-family: arial, sans-serif; */
  }
  
  body {
    background: linear-gradient(#ffffff, #c0c0c0);
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
  nav {
    align-items: center;
    background-color: rgb(213, 213, 230);
    color: darkgray;
    display: flex;
    height: 80px;
    padding: 10px;
  }

  .link {
    color: rgb(184, 179, 179);
    font-family: "Courier New", Courier, monospace;

  }

  .section-title {
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
  }

  #welcome{
    color: rgb(146, 129, 129);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
  }
  
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photograph {
    height: auto;
    width: auto;
    /* border:  */
  }

  .tab {
     margin-left: 40px; 
  }